@font-face {
	src: url('./myfont/font.ttf');
	font-family: 'myfont';
}

body {
	font-family: 'myfont';
}

html {
	scroll-behavior: smooth;
}

.full-screen {
	height: 100vh;
}

.text-white {
	color: white;
}

.text-primary {
	color: #323232;
}

.borderless {
	border: none;
}

.imgthumb {
	width: 100%;
	height: auto;
	/* Magic! */
	max-width: 60vw;
}

#head {
	padding-top: 60px;
}

.btn-xl {
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 10px;
	width: 90%;
}
